# logging configuration file
# 
# log both to the console and a file, with different logging levels

[loggers]
keys=root

[handlers]
keys=rotateFileHandler,rotateConsoleHandler,rotateFileHandlerError

[formatters]
keys=root_format,console_format

[formatter_root_format]
format=%(levelname)s %(asctime)s %(module)s : %(message)s

[formatter_console_format]
# format=%(asctime)s %(filename)s%(lineno)d[%(levelname)s] : %(message)s
format=%(levelname)s %(module)s : %(message)s

[logger_root]
level=DEBUG
handlers=rotateFileHandler,rotateConsoleHandler,rotateFileHandlerError

[handler_rotateFileHandler]
class=handlers.RotatingFileHandler

# change the log level of the file handler here
level=DEBUG
formatter=root_format

# change the filename, size of file (bytes), and number of backup logs to keep.
args=('logs/analysis.log', 'a', 1024*1024*2, 5)

[handler_rotateFileHandlerError]
class=handlers.RotatingFileHandler

# change the log level of the file handler here
level=ERROR
formatter=root_format

# change the filename, size of file (bytes), and number of backup logs to keep.
args=('logs/analysis_error.log', 'a', 1024*1024*2, 5)


[handler_rotateConsoleHandler]
class=StreamHandler

#change the log level to the console
level=WARNING

formatter=console_format
args=(sys.stdout,)
